In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

```
pip install sqlalchemy psycopy2-binary
```

In [6]:
from sqlalchemy import create_engine

In [6]:
# connection = psycopg2.connect(
#     dbname="ny_taxi",
#     user="root",
#     password="root",
#     host="localhost",
#     port="5432"
# )

In [7]:
import sqlalchemy

print(sqlalchemy.__version__)

2.0.37

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [10]:
query = """
select 1;
"""

pd.read_sql(query, con=engine)

   ?column?
0         1

In [11]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [19]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [20]:
df = next(df_iter)

In [21]:
len(df)

100000

In [ ]:
df.info()

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.info()

In [ ]:
df

In [ ]:
# try:
#     connection = engine.connect()
#     print("Connection successful!")
# except Exception as e:
#     print(f"Connection error: {e}")

In [ ]:
df.head(n=0)

In [22]:
try:
    with engine.connect() as connection:
        df.head(n=0).to_sql(
            name='yellow_taxi_data',  
            con=engine,           
            if_exists='replace'
        )
    print("Table created successfully!")
except Exception as e:
    print(f"Error writing to the database: {e}")

Table created successfully!

In [23]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.93 s, sys: 74.9 ms, total: 4.01 s
Wall time: 6.94 s

1000

In [24]:
from time import time

In [25]:
while True:
    start_t = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    end_t = time()

    print('inserted another chunk, took %.3f second' % (end_t - start_t))

inserted another chunk, took 7.012 second
inserted another chunk, took 7.017 second
inserted another chunk, took 6.825 second
inserted another chunk, took 6.805 second
inserted another chunk, took 7.107 second
inserted another chunk, took 6.532 second
inserted another chunk, took 6.816 second
inserted another chunk, took 6.686 second
inserted another chunk, took 6.525 second
inserted another chunk, took 6.492 second
inserted another chunk, took 6.923 second

/tmp/ipykernel_3146/2125505348.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 6.528 second
inserted another chunk, took 4.404 second

StopIteration:

In [3]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2025-01-19 13:38:59--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.219.32, 16.182.71.168, 52.216.62.96, ...
connected. to s3.amazonaws.com (s3.amazonaws.com)|52.216.219.32|:443...
HTTP request sent, awaiting response... 403 Forbidden
2025-01-19 13:39:00 ERROR 403: Forbidden.

In [4]:
df_zones = pd.read_csv("./taxi_zone_lookup.csv")

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265